@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-white: theme('colors.dark.base');
  --c-white-dark: theme('colors.light.dark');
  --c-black: theme('colors.dark.base');

  --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48);

  --c-text-light-1: theme('colors.slate.100');
  --c-text-light-2: theme('colors.slate.200');
  --c-text-light-3: theme('colors.slate.300');

  --c-brand: theme('colors.brand.base');
  --c-brand-light: theme('colors.brand.light');
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold mt-6 mb-2;
}

h3 {
  @apply text-2xl font-bold mt-4 mb-2;
}

h4 {
  @apply text-xl font-bold mt-4 mb-2;
}

p {
  @apply my-4;
}

ul {
  @apply pl-4;
}

ul > li {
  @apply list-disc pl-2;
}

a:hover {
  @apply no-underline;
}

.sidebar-link {
  @apply !pt-1;
}

.sidebar-link-item {
  @apply !text-base !py-0;
}
